body {
  background-image:url("Abstract_Background_Wallpaper_001.jpg");
  text-align:center;
}

a {
  text-decoration:none;
}

h1 {
  color:black;
}

.follow-buttons {
  display:inline;
}

#name {
  font-size:50px;
  padding-top:20px;
}

.images {
  border-style:ridge;
}

.boxes {
  background-color:crimson;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  padding-bottom:20px;
  border-color:white;
  border-style:groove;
}
